.about {
  @extend %page;

  
  //   background: $color-cadet-blue;
  //   color     : $color-bright-grey;
  
  @extend %description-18
}

.about__wrapper {
  padding-top:24.5rem; 
}

.about__header{
  width: 161.3rem;
  height: 72.9rem;
  background-color: aliceblue;
  margin: 0 auto;

  display: flex;
}

.about__image{
  width: 87.9rem;
  height: 100%;

  position: relative;
}

.about__image__media{
  @extend %cover;
    object-fit: cover;
}

.about__header__content{
  width: 73.4rem;
  height: 100%;

  padding-left: 8.7rem;
  padding-top: 8.3rem;
  background-color: lightcoral;
}

.about__title{
  @extend %title-65; 
}
.about__description__text{
  padding: 3.6rem 0;
  width: 54.7rem;
  line-height: 2.1rem;
}

.about__content__text{
  width: 57.2rem;
  line-height: 2.1rem;

}

.about__text{
  width: 57.2rem;
  padding: 3.6rem 0;
  line-height: 2.1rem;

}

.about__cta{
  @extend %description-s18;
  text-decoration: underline;
}
// .about__title {
//   @extend %title-100;

//   max-width : 126rem;
//   margin    : 0 auto;
//   text-align: center;



//   @include media('<phone') {
//     max-width: 67.7rem;
//   }
// }