// %description-12 {
//   font-size: 1.2rem;

//   @include media('<phone') {
//     font-size: 3rem;
//   }
// }

// %description-16 {
//   font-size  : 1.6rem;
//   font-weight: 300;
//   line-height: 1.5;

//   @include media('<phone') {
//     font-size: 2.8rem;
//   }
// }

// %description-14 {
//   font-size: 1.4rem;

//   @include media('<phone') {
//     font-size: 3rem;
//   }
// }

%description-12 {
  font-size: 1.2rem;

  @include media('<phone') {
    font-size: 3rem;
  }
}

%description-15 {
  font-size: 1.5rem;

  @include media('<phone') {
    font-size: 2.8rem;
    line-height: 1.2 !important;
  }
}


%description-18 {
  font-size: 1.8rem;

  @include media('<phone') {
    font-size: 2.8rem;
  }
}

%description-s18 {
  font-size: 1.8rem;
  font-weight: 600;

  @include media('<phone') {
    font-size: 2.8rem;
    line-height: 1.2 !important;
  }
}

%description-20 {
  font-size: 2rem;
  font-weight: bold;

  @include media('<phone') {
    font-size: 3rem;
  }
}

%description-25 {
  font-size: 2.5rem;
  font-weight: 600;

  @include media('<phone') {
    font-size: 3.5rem;
  }
}

%description-30 {
  font-size: 3rem;
  font-weight: bold;
}

%description-34 {
  font-size: 3.4rem;
}

%description-s34 {
  font-size: 3.4rem;
  font-weight: 600;
}

%description-50 {
  font-size: 5rem;
  font-weight: bold;
}