.preloader {
  // display: none;
  @extend %cover;
  @extend %center;
  z-index: 2;
  color  : #EFEFEF;

  display              : grid;
  grid-template-columns: 100%;
  pointer-events       : none;
  grid-template-rows   : repeat(2, 1fr);

  width : 100vw;
  height: 100vh;
}

//* Overlay //
.preloader__overlay {

  width : 100%;
  height: 100%;

  background-color: #141411;
  transform       : scaleY(1);
  will-change     : transform;

  &:first-child {
    transform-origin: 100% 0%;
  }

  &:nth-child(2) {
    transform-origin: 0% 100%;
  }
}

//! Overlay //

.preloader__background {
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);


  background-color: #10100E;
  transform-origin: 0% 100%;
  width           : 95.5rem;
  height          : 36.4rem;


}

.preloader__container {
  position: absolute;
  top     : 50%;
  left    : 50%;
  transform: translate(-50%, -50%);

  width : 70rem;
  height: 26.4rem;

  display        : flex;
  flex-direction : column;
  justify-content: space-between;


}

.preloader__text {
  font-size: 0;

  span {
    display : inline-block; //!Con l'inline block posso fare le animazioni
    overflow: hidden;
  }

  span span {
    @extend %description-50;
  }
}

.preloader__number {
  align-self: flex-end;
  font-size : 0;
}

.preloader__reverse__number {
  font-size: 0;
}

.preloader__reverse__text {
  display: inline-block;
  @extend %description-30;

}

.preloader__number__text {
  display: inline-block;
  @extend %description-30;
}


//TODO  %  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);